/*.appContainer {
  background-color: rgb(150, 143, 143);
  display: flex;
  height: 100vh;
  text-decoration: none;
}
*/
/*Navbar*/

.nav-bar{
  background-color: rgb(215, 235, 250);
  padding: 0.45cm 1cm;
  max-width: fit-content;
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-bar ul li {
  text-decoration: none;
  list-style: none;
  display:inline;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 25px;
  color: rgb(24, 0, 0);
  padding: 1cm;
}

.nav-bar ul li:hover{
  background-color: rgb(114, 180, 246);
  border-radius: 0.8rem;
  color: rgb(255, 255, 255);
}

.nav-bar ul li .active {
  border-bottom: 2px solid red;
  color: red;

}

.container {
  background: linear-gradient(to right, #580f5c, #f96c00);
  color: rgb(255, 255, 255);
  margin-top: 3vh;
  display: flex;
  height: 100vh;
  margin: 10px;
  border-radius: 0.8rem;
}

.homeDescription{
  margin-left: 15px;
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
  
}

.homeDescription h1{
  color: black;
  font-size: 40px;
  font-family:serif;
  word-spacing: 3px;
}

.homeDescription p:nth-of-type(1) {
  font-size: 25px;
  color: rgb(172, 172, 251);
}

.homeDescription p:nth-of-type(2) {
  font-size: 30px;
  color: rgb(107, 107, 248);
}
.homeDescription p:nth-of-type(3) {
  font-size: 22px;
  word-spacing: 2.5px;
}